<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="storemanager.com.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/espresso_machine"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="storemanager.com.app.activity.GoogleSignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AdminActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Main"/>

        <!--<activity
            android:name="storemanager.com.app.activity.GoogleSignInActivity"
            android:label="@string/label_google_sign_in" />-->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".activity.SummaryComposerActivity"
            android:label="@string/label_send_data"
            android:parentActivityName=".activity.AdminActivity"/>

        <activity
            android:name=".activity.AddShopActivity"
            android:label="@string/manifest_label_add_shop"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>

        <activity
            android:name=".activity.ShopDataActivity"
            android:label="@string/manifest_label_shop"
            android:parentActivityName=".activity.AdminActivity"/>

        <activity
            android:name=".activity.AddItemToMenuActivity"
            android:label="@string/manifest_label_add_menu_item"
            android:parentActivityName=".activity.AdminActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name=".activity.AddBaseListsActivity"
            android:label="@string/manifest_label_add_base_ingredient_item"
            android:parentActivityName=".activity.AddItemToMenuActivity"/>

        <activity
            android:name=".activity.PopActivity"
            android:theme="@style/AppTheme.PopWindow"/>

        <activity
            android:name=".activity.ListOfListActivity"
            android:label="@string/manifest_label_lists"/>

        <activity
            android:name=".activity.AddItemsToSummaryActivity"
            android:label="Добавить в отчет"
            android:parentActivityName=".activity.SummaryComposerActivity"/>

        <activity
            android:name=".activity.UserEntryOrCreateTeamActivity"
            android:label="Трам пам пам"/>

        <activity
            android:name=".activity.NewTeamNameActivity"
            android:label="Команда"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>

        <activity android:name=".activity.AddMemberActivity"
            android:label="Сотрудник"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
    </application>


</manifest>