<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="storemanager.com.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="storemanager.com.app.activity.ChooserActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="storemanager.com.app.activity.GoogleSignInActivity"
            android:label="@string/label_google_sign_in" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name="storemanager.com.app.activity.FacebookActivity"
            android:label="@string/label_facebook_login"/>

        <activity
            android:name=".activity.SummaryComposerActivity"
            android:label="@string/label_send_data"/>

        <activity
            android:name=".activity.AddItemsActivity"
            android:label="@string/label_add_items"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            />

    </application>


</manifest>